<%- include('../_layouts/adminheader'); -%>
<h2 class="page-title">categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Add a new category</a>
<hr>


<table class="table table-striped" id="multiTable">
    <thead>
        <tr class="home">
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        <% if (categories) { %>
        <% categories.forEach(function(cat){ %>
        <tr>
            <td><%= cat.title %></td>
            <td><a href="/admin/categories/edit-category/<%= cat.slug %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">Delete</a></td>

        </tr>


        <% }); %>
        <% }; %>
    </tbody>

</table>

<%- include('../_layouts/adminfooter'); -%>