<%- include('../_layouts/adminheader'); -%>
<h2 class="page-title">add a page</h2>
<a href="/admin/pages/add-page" class="btn btn-primary">Add a new page</a>
<hr>


<table class="table table-striped sorting" id="multiTable">
    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        <% if (pages) { %>
        <% pages.forEach(function(page){ %>
        <tr id="id_<%= page._id %>" class="<%= page.slug %>">
            <td><%= page.title %></td>
            <td><a href="/admin/pages/edit-page/<%= page.slug %>">Edit</a></td>
            <% if (page.slug === 'home') { %>
            <td></td>
            <% } else { %>
            <td><a class="confirmDeletion" href="/admin/pages/delete-page/<%= page._id %>">Delete</a></td>
            <% } %>
            <% }); %>
        </tr>
        <% } %>


    </tbody>

</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="src=" https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"> </script> <script>
    $(document).on("mouseup","#multiTable tr",function (e) {

   
    $('tbody').sortable({
        items:"tr:not('.home')",
        placeholder:"ui-state-hightlight",
        update:function(){
            var ids=$('tbody').sortable("serialize");
            var url="/admin/pages/reorder-page";
            $.post(url,ids);
        }

    });
})

//     $(function () {
//     var html = "",
//         index = -1;
//     $(document).on("mouseup","#multiTable tr",function (e) {
//         console.log("Mouse Up-> ")
//         var index1 = $(this).index();
//         var index2 = index;
//         if (index1 == index2) {
//             e.epreventDefault();
//             return;
//         }
//         var spaceIndex1 = index2 + 1;
//         var html1 = "<tr>" + $(this).html().trim() + "<tr>";
//         var html2 = "<tr>" + html + "</tr>";
//         console.log(html);
//         $('#multiTable > tbody > tr').eq(index1).replaceWith(html2);
//         $('#multiTable > tbody > tr').eq(index2).replaceWith(html1);
//         $('#multiTable > tbody > tr').eq(spaceIndex1).remove();
//     });
//     $(document).on("mousedown","#multiTable tr",function (e) {
//         console.log("Mouse Down->");
//         html = $(this).html().trim();
//         index = $(this).index();
//         //console.log($(this).index());
//         //console.log($(this).html().trim());
//     });
// });
</script>
<%- include('../_layouts/adminfooter'); -%>