<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title><%- title -%></title>


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">



    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="/">CmsShopingCart</a>
        </li>
        <% pages.forEach((page)=>{ %>
        <% if(page.slug=="home"){ %>
        <a class="nav-link" href="/"><%= page.title %> </a>
        <% } else { %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= page.slug %>"><%= page.title %> </a>
        </li>
        <% } %>
        <% }) %>

      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>

  <main role="main" class="container">
    <%- //messages('messages', locals) %>

    <% if (locals.messages) { %>

    <script language="javascript">
      console.log("<%= messages.msg %>");      
    </script>

    <% } %>